

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232031;
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 75px;
    color: white;
    margin-bottom: 50px;
}

.card-holder {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex: auto;
}

.human-card, 
.comp-card {
    height: 200px;
    width: 200px;
    border: 3px solid white;
    border-radius: 10px;
}

.human-card {
    display:flex;
    flex-direction: column;
    
}

.comp-card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: white;    
}

.choice {
    flex: 1;
    background-color: transparent;
    color: white;
    font-size: 30px;
    border-style: none;
    border-bottom: 2px solid white;
    text-align: center;
    cursor: pointer;
}

.choice:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}

.info{
    color: white;
    font-size: 30px;
}

.score-holder {
    display: flex;
    color: white;
    font-size: 30px;
    gap: 50px;    
}

